<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170285761107-81bs3cgbvsc4rebcbkmelkrjb6gv2uar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170285761107-81bs3cgbvsc4rebcbkmelkrjb6gv2uar</string>
	<key>API_KEY</key>
	<string>AIzaSyB21d16njD3tyZnJYc1p7mIROWVyeYIIVI</string>
	<key>GCM_SENDER_ID</key>
	<string>170285761107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Charles-Coppieters.Nibble</string>
	<key>PROJECT_ID</key>
	<string>nibble-fcf95</string>
	<key>STORAGE_BUCKET</key>
	<string>nibble-fcf95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170285761107:ios:baeebcfdaae9307d2f3ca6</string>
</dict>
</plist>